body {margin-left:20px; background-color:rgb(180, 200, 255);font-family: Arial}
h1   {color:rgb(0, 199, 0);font-size:48px; text-align: center;border:4px solid rgb(0, 199, 0); }
h2   {color:hsl(105, 100%, 39%);font-size:40px;}
h3   {color: hsl(100, 100%, 29%);font-size:30px;}